<!DOCTYPE html>
<html>
<body>
  <script>
    {% include "homepage/index.js" %}
  </script>

        <h1>Welcome to Indoor Air-Quality Web-App, we monitor the quality of the air you breath indoor</h1>
        <p>
        <button type="button" onclick="onContactClick();">Contact</button>
        </p>
        <p>
        <button type="button" onclick="onLoginClick();">Login</button>
        </p>
        <p>
        <button type="button" onclick="onRegisterClick();">Register</button>
        </p>

        Version is:<p id="version"></p>
        <button type="button" onclick="onVersionClick();">Version</button>

</body>
</html>
